.img-fluid{
    border-radius: 8px;
}
.sec{
    background-image: url('https://img.freepik.com/premium-vector/construction-tools-repair-wooden-background_514879-417.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}